@use "../var/var" as *;
.projectsPage {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
  margin: 20px;
  @media (max-width: 767px) {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
  .box {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    h4 {
      font-size: 18px;
      padding-bottom: 10px;
    }
    p {
      color: gray;
      font-size: 12px;
    }
    .date {
      position: absolute;
      color: gray;
      font-size: 12px;
      right: 20px;
      top: 10px;
    }
    .images {
      display: flex;
      padding-top: 50px;
      padding-bottom: 20px;
      border-bottom: 1px solid $grey;
      img {
        width: 40px;
        border-radius: 50%;
        border: 3px solid white;
        cursor: pointer;
        &:hover {
          z-index: 1;
        }
        &:not(:first-child) {
          margin-left: -15px;
        }
      }
    }
    .keywords {
      padding: 20px 0;
      border-bottom: 1px solid $grey;
      display: flex;
      gap: 10px;
      justify-content: flex-end;
      @media (max-width: 767px) {
        flex-direction: column;
      }
      span {
        background-color: $grey;
        color: black;
        font-size: 14px;
        width: fit-content;
      }
    }
    .progressPrice {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
      @media (max-width: 767px) {
        flex-direction: column;
        gap: 10px;
      }
      .progress {
        width: 250px;
        height: 5px;
        border-radius: 10px;
        background: $grey;
        overflow: hidden;
        span {
          height: 5px;
          position: absolute;
          &.green {
            background-color: $green;
          }
          &.red {
            background-color: $red;
          }
          &.blue {
            background-color: $blue;
          }
        }
      }
      .price {
        color: gray;
      }
    }
  }
}
