@use "../var/var" as *;
.control {
  .body {
    padding: 0 20px;
    .siteControl {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      span {
        color: gray;
        padding-top: 10px;
        display: block;
      }
      input {
        display: none;
      }
    }
    textarea {
      resize: none;
      height: 150px;
      width: 100%;
      border-radius: 10px;
      border: 1px solid $grey;
      margin-bottom: 20px;
      padding: 10px;
      &:focus {
        outline: none;
      }
    }
  }
}
.info {
  .body {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    label {
      width: 100%;
      padding: 10px 0;
      color: gray;
      font-size: 12px;
      input {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid $grey;
        margin-top: 5px;
        &:focus {
          outline: none;
        }
      }
      .email {
        display: flex;
        gap: 10px;
        input {
          background-color: $grey;
          cursor: not-allowed;
        }
      }
      button {
        background-color: transparent;
        color: $blue;
        outline: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}
.security {
  .body {
    padding: 0 20px;
    .line {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      &:not(:last-child) {
        border-bottom: 1px solid $grey;
      }
      span {
        color: gray;
        font-size: 14px;
        padding-top: 5px;
      }
      &:last-child .btn {
        background-color: $grey;
        color: black;
      }
    }
  }
}
.socialInfo {
  .body {
    padding: 0 20px;
    .line {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      color: gray;
      transition: 0.3s;
      padding: 20px 0;
      width: 100%;
      i {
        width: 40px;
        height: 40px;
        background-color: $grey;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px 0 0 6px;
        border: 1px solid rgba(128, 128, 128, 0.473);
        border-right: none;
        transition: 0.3s;
      }
      input {
        font-size: 12px;
        flex: 1;
        height: 40px;
        background-color: $grey;
        padding: 10px;
        outline: none;
        border: 1px solid rgba(128, 128, 128, 0.473);
        border-radius: 0 6px 6px 0;
        &:focus {
          outline: none;
        }
        &:focus + i {
          color: black;
        }
      }
    }
  }
}
.widgets {
  .body {
    padding: 0 20px;
    .line {
      padding: 10px 0;
      input {
        display: none;
        &:checked + label::before {
          // transform: rotate(360deg);
          transform: scale(1);
        }
      }
      label {
        padding-left: 40px;
        position: relative;
        cursor: pointer;
        &:hover::after {
          border-color: $blue;
        }
        &::after {
          content: "";
          position: absolute;
          width: 12px;
          height: 12px;
          border: 2px solid gray;
          left: 12px;
          top: 03px;
          border-radius: 4px;
          transition: 0.3s;
        }
        &::before {
          font-family: var(--fa-style-family-classic);
          content: "\f00c";
          font-weight: 600;
          position: absolute;
          width: 16px;
          height: 16px;
          left: 12px;
          top: 3px;
          z-index: 1;
          border-radius: 4px;
          background-color: $blue;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 12px;
          transform: scale(0) rotate(360deg);
          transition: 0.3s;
        }
      }
    }
  }
}
.manager {
  .body {
    padding: 0 20px;
    .radio {
      padding-bottom: 20px;
      border-bottom: 1px solid $grey;
      .line {
        padding: 10px 0;
        input {
          display: none;
          &:checked + label::after {
            transform: scale(1);
          }
        }
        label {
          padding-left: 40px;
          cursor: pointer;
          position: relative;
          &:hover::before {
            border-color: $blue;
          }
          &::after {
            content: "";
            position: absolute;
            width: 14px;
            height: 14px;
            background-color: $blue;
            border-radius: 50%;
            left: 13px;
            top: 4px;
            transition: 0.3s;
            transform: scale(0);
          }
          &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 2px solid gray;
            left: 10px;
            top: 1px;
          }
        }
      }
    }
    .bradio {
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      @media (max-width: 767px) {
        flex-direction: column;
      }
      .line {
        width: 100%;
        flex: 1;
        input {
          display: none;
          &:checked + label {
            border-color: $blue;
            color: $blue;
          }
        }
        label {
          border-radius: 15px;
          border: 1px solid #ccc;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          cursor: pointer;
          gap: 5px;
          padding: 20px 0;
          transition: 0.3s;
        }
      }
    }
  }
}
.sCheckbox {
  display: none;
}
.cBtn {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  &::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    background-color: white;
    width: 24px;
    height: 24px;
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: 0.3s;
  }
}
.sCheckbox:checked + .cBtn::before {
  content: "\f00c";
  left: 50px;
  color: $blue;
}
.sCheckbox:checked + .cBtn {
  background-color: $blue;
}
